@model SMS.CORE.Data.QuyetDinhKhenThuong

@{
    ViewBag.Title = "Chi tiết Quyết định khen thưởng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Quyết định khen thưởng</h3>

@using (Ajax.BeginForm("UpdateCTKhenThuong", "QDKhenThuong"
    , new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "onSuccess"
    }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(e => e.MaQuyetDinh)
        <div class="row">
            <div class="form-group col-md-4">
                <label class="control-label col-md-6" for="SoQuyetDinh">Số Quyết Định</label>
                @Html.EditorFor(e => e.SoQuyetDinh, new { htmlAttributes = new { @class = "form-control col-md-6" } })
                @Html.ValidationMessageFor(e => e.SoQuyetDinh, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-4">
                <label class="control-label col-md-6" for="MaNamHoc">Năm Học</label>
            </div>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">
        function onSuccess() {
            alert("update success");
        }
    </script>     
}