<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Student Management System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @{
        var culture =  System.Globalization.CultureInfo.CurrentCulture.ToString();
    }
</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SMS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if(User.IsInRole("Admin") || User.IsInRole("Hiệu Trưởng"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Quản lý trường học<span class="caret"></span>
                            </a>
                        
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Quản lý năm học", "Index", "NamHoc")</li>
                                <li>@Html.ActionLink("Quản lý phòng học", "Index", "PhongHoc")</li>
                                <li>@Html.ActionLink("Quản lý lớp học", "Index", "LopHoc")</li>
                                <li>@Html.ActionLink("Xếp Lớp", "XepLop", "LopHoc")</li>
                                <li>@Html.ActionLink("Quản lý khối lớp", "Index", "KhoiLop")</li>
                                <li>@Html.ActionLink("Quản lý môn học", "Index", "MonHoc")</li>
                                <li>@Html.ActionLink("Quản lý Giáo Viên", "QuanLyGiaoVien", "GiaoVien")</li>
                                <li>@Html.ActionLink("Quản lý Học Sinh", "QuanLyHocSinh", "HocSinh")</li>
                            </ul>
                        </li>
                    }
                    @if (User.IsInRole("Admin") || User.IsInRole("Hiệu Trưởng") || User.IsInRole("Giáo Viên"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Khen thưởng, Kỷ luật<span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Khen thưởng cấp lớp", "QuanLyKhenThuong", "KhenThuong")</li>
                                <li>@Html.ActionLink("Kỷ luật cấp lớp", "QuanLyKyLuat", "KyLuat")</li>
                                @if (User.IsInRole("Admin") || User.IsInRole("Hiệu Trưởng"))
                                {
                                    <li>@Html.ActionLink("Khen thưởng cấp trường", "QuanLyQDKhenThuong", "QDKhenThuong")</li>
                                }
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Báo cáo, Thống kê<span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Thống kê nhóm điểm theo khối", "ThongKeNhomDiem", "BaoCao")</li>
                            </ul>
                        </li>
                    }
                    @if(User.IsInRole("Admin"))
                    {
                    <li>@Html.ActionLink("Phân quyền", "Index", "Authentication")</li>
                    }
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container wrap">
        <section class="body">
            @RenderBody()
        </section>
    </div>

    <footer>
        <div class="footer-content">&copy; @DateTime.Now.Year - My ASP.NET Application</div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")
    <!-- Localization -->
    <script src="@Url.Content("~/Scripts/cultures/kendo.culture." + culture + ".min.js")"></script>
    <script src="~/Scripts/kendo/2015.3.1111/messages/kendo.messages.vi-VN.js"></script>
    <script>
        kendo.culture("@culture");
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
